body {
  /* https://gist.github.com/don1138/5761014 */
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.api-status {
  font-weight: bold;
  font-size: larger;
}

.api-status.up {
  color: green
}

.api-status.down {
  color: red
}