body {
  /* https://gist.github.com/don1138/5761014 */
  font-family: system, -apple-system, '.SFNSText-Regular', 'San Francisco',
    'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

/* API status */
#api-status-container {
  font-size: small;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

#api-status-indicator {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
}

/* FORM */
form label {
  display: block;
  margin: 1em 0 0.5em;
}

form button {
  display: block;
  margin-top: 2em;
}
